<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <p class="navbar-brand">Trovasys Tracking Dashboard</p>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Select Device
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="getdata(1001)">1001</a>
     
    </div>
  </div>
 <!--  <select class="form-control" onchange="chnageDropDownValue()">
    <option value="1001">1001</option>
    <option value="1002">1002</option>
    <option value="1002">1003</option>
  </select> -->
</nav>